{% extends 'workouts_app/base.html' %}

{% load static %}

{% block pagename %}Home{% endblock %}

{% block pagecontent %}

<div>
	<div class="container-fluid" style="background-color:#a020f0;">
		<div class="container">
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<h4 style = "color:#ffa500" >Logout</h4>
				</li>
			</ul>
		</div>
	</div>

	<div class="jumbotron jumbotron-fluid" style="height: 1%; background-color:#f4f7f6; color: #0000ff;">
		<div class="container">
			<h1 class="display-3" style="font-family: 'Special Elite', monospace;">Add an exercise: </h1>
			<hr class="my-4">
			<p class="lead"></p>
      <body>
          </div>
          <div>
            <section>
              <p> Name: </p>
              <p> Exercise Name : </p>
              <p> Exercise Comment(s): </p>
              <p> Duration: </p>
							<p> Distance: </p>
							<p> Calories Burned: </p>
							<p> Peak Heartrate: </p>
            </section>
          </div>
        </div>
		</div>



  {%endblock%}
