{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Hoos Workin Out</title>
  </head>


  <body>
    {% if user.is_authenticated %}
      {% include 'hoosworkinout/navbar.html' %}
    {% endif %}
    <div class="jumbotron">
      <h1 class="display-4">Welcome, {{ user.get_full_name }}</h1>
      <p class="lead">Let's get started!</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="{% url 'new-workout' %}" role="button">Start a new workout</a>
    </div>  
    <div class="container">
          {% block content %}
          {% endblock %}
    </div>
  </body>
</html>