{% extends 'hoosworkinout/base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome, {{ user.get_full_name }}.</h1>
    <p class="lead">Let's get started!</p>
    <hr class="my-4">
    <a class="btn btn-warning btn-lg" href="{% url 'new-plan' %}" role="button">Create a New Plan</a>
    <a class="btn btn-primary btn-lg" href="{% url 'new-workout' %}" role="button">Start a new workout</a>
    <a class="btn btn-danger btn-lg" href="{% url 'new-cardio-exercise' %}" role="button">Add a cardio exercise</a>
    <a class="btn btn-success btn-lg" href="{% url 'new-strength-exercise' %}" role="button">Add a strength exercise</a>
    <a class="btn btn-info btn-lg" href="{% url 'new-hiit-exercise' %}" role="button">Add a HIIT exercise</a>
</div>

<div style="display: flex; justify-content: center;">
  {% for workout in workouts %}
  <div class="card" style="width: 20rem; margin: auto;">
      <div class="card-header">
        {{ workout.name }}
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">
              <b>Date: </b>{{ workout.date }}
          </li>
          {% if workout.comment %}
          <li class="list-group-item">
              <b>Comment: </b>{{ workout.comment }}
          </li>
          {% endif %}

          {% for plan in plans %}
            {%if workout.pid.pid == plan.pid %}
            <li class="list-group-item">
              <b>Part of Plan:</b> {{plan.name}} 
            </li>
            {% endif %}
          {% endfor %}
          <li class="list-group-item">
            <a class="btn btn-info" href="{% url 'new-strength-exercise' %}" role="button">View</a>
            <a class="btn btn-danger" href="{% url 'delete-workout' workout.wid %}" role="button">Delete</a>
          </li>
      </ul>
  </div>
  {% empty %}
  <p>No workouts recorded!</p>
  {% endfor %}
</div>
{% endblock %}
