{% extends 'hoosworkinout/base.html' %}

{% block content %}
<div class="jumbotron">
	<h1 class="display-4">Hey there, {{ user.get_full_name }}</h1>
	<p class="lead">Here are your current stats</p>
	<hr class="my-4">
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="{% url 'edit-profile' %}" role="button">Edit Profile</a>
	  </p>
  </div>
  <div style="display: flex; justify-content: center;">
	<div class="card w-50">
		<div class="card-header">
		  User Profile
		</div>
		<ul class="list-group list-group-flush">
		  <li class="list-group-item"><b>Birthday:</b> {{ user.profile.birthday }}</li>
		  <li class="list-group-item"><b>Body Weight:</b> {{ user.profile.birthday }}</li>
		  <li class="list-group-item"><b>Best Lift:</b> {{ user.profile.birthday }}</li>
		</ul>
	  </div>
  </div>
{% endblock %}
